<div class="is-flex-direction-column is-justify-content-center is-align-items-center">
  <strong class="is-size-3">ログイン</strong>
  <p>どのサービスからログインしますか？</p>
  <div class="buttons-tone columns is-centered is-mobile mt-1">
    <% if user_signed_in? %>
      <div class="columns is-centered mb-3">
      <%= link_to 'ログイン', dashboard_path, class: 'button is-primary is-small' %>
      </div>
    <% else %>
      <div class="column is-narrow">
        <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, authenticity_token: true, class: 'button is-primary is-small' do %>
          <span class="icon">
            <i class="fab fa-google"></i>
          </span>
          <span>Google</span>
        <% end %>
      </div>
      <div class="column is-narrow">
        <%= button_to user_github_omniauth_authorize_path, method: :post, data: { turbo: false }, authenticity_token: true, class: 'button is-primary is-small' do %>
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        <% end %>
      </div>
      <div class="column is-narrow">
        <%= button_to user_discord_omniauth_authorize_path, method: :post, data: { turbo: false }, authenticity_token: true, class: 'button is-primary is-small' do %>
          <span class="icon">
            <i class="fab fa-discord"></i>
          </span>
          <span>Discord</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
