<div class="buttons is-centered">
  <%= render 'buttons/enter_app_button' %>
  <% if user_signed_in? %>
  <%= link_to 'ログイン', dashboard_path, class: 'button is-primary is-small' %>
  <% else %>
  <%= render 'buttons/login_button' %>
  <% end %>
</div>
