<div class="buttons-tone is-centered">
  <%= render 'buttons/enter_app_button' %>
  <%= button_to '利用規約', tos_path, method: :post, data: { turbo_frame: "response_area" }, class: 'button is-primary is-small' %>
  <%= button_to 'プライバシーポリシー', pp_path, method: :post, data: { turbo_frame: "response_area" }, class: 'button is-primary is-small' %>
</div>