<div class="buttons is-centered">
  <%= button_to 'アプリに入る', buttons_enter_app_path, method: :post, data: { turbo_frame: "response_area" }, class: 'button is-primary is-small' %>
  <%= button_to 'ログイン', buttons_login_path, method: :post, data: { turbo_frame: "response_area" }, class: 'button is-primary is-small' %>
</div>
