<section class="section is-fullheight">
  <div class="container is-flex is-flex-direction-column">
    <div class="content">
      <div class="columns is-centered mt-6">
        <div class="column is-8 has-text-centered">
          <p class="title is-1 has-text-black">花と宝石の輪</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="columns is-centered mt-6">
        <div class="buttons is-centered">
          <button class="button is-primary is-small" disabled>アプリに入る</button>
          <button class="button is-primary is-small" disabled>ログイン</button>
        </div>
      </div>
    </div>
  </div>
</section>























