<section class="section is-fullheight">
  <div class="container is-flex is-flex-direction-column">
    <div class="content">
      <div class="columns is-centered mt-6">
        <div class="column is-8 has-text-centered">
          <%= render 'top/title' %>
          <turbo-frame id="response_area">
            <%= render 'top/empty_response' %>
          </turbo-frame>
        </div>
      </div>
    </div>
      <div class="columns is-centered mt-6">
        <%= render 'top/buttons' %>
      </div>
    </div>
  </div>
</section>




















