<div id="menu">
  <div class="column is-one-quarter">
    <%= render "buttons/menu/change_button" %>
  </div>
</div>

</div>
  <div class="column is-three-quarters">
    <div class="is-flex is-justify-content-flex-end is-align-items-center" style="height: 100%;">
      <%= render 'buttons/menu/worries_content' %>
    </div>
  </div>
</div>
