<div id="message_<%= message.id %>">
  <p class="has-text-black"><strong><%= message.user.name %>:</strong> <%= message.message %></p>
  <% if show_delete_button %>
    <%= button_to '削除', group_chat_group_chat_message_path(message.group_chat, message), method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true, class: 'has-text-black' %>
  <% end %>
</div>
