<div class="columns is-centered is-mobile">
  <div class="column is-2 mr-6">
    <div id="menu" class="buttons-left columns is-multiline ml-4 mt-3">
      <%= render "buttons/menu/change_button" %>
    </div>
  </div>
  <div class="column is-flex is-align-items-start">
    <section class="section is-fullheight">
      <div class="container is-flex is-flex-direction-column">
        <div id="content" >
        </div>
      </div>
    </section>
  </div>
</div>