
    <h2 class="subtitle">相談一覧: 全<%= consultations.count %>件</h2>
    <div class="columns is-multiline">
      <% consultations.each do |consultation| %>
        <div class="column is-one-third" id="<%= dom_id(consultation) %>">
          <div class="box">
            <p class="title is-4"><%= consultation.title %></p>
            <% if current_user.super_admin? || current_user.admin? %>
              <div class="are-small has-text-right">
                <%= button_to '削除', admin_consultation_path(consultation), method: :delete, data: { turbo_confirm: '本当にこの相談を削除しますか？' }, remote: true, form: { data: { turbo: true }, class: 'button is-danger' } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
