<h2 class="subtitle">ギフト一覧</h2>
<div class="columns is-multiline">
  <% gifts.each do |gift| %>
    <div class="column is-full-mobile is-one-third-tablet" id="<%= dom_id(gift) %>">
      <div class="box">
      <p class="title is-4"><%= gift.item_name %></p>
        <% if current_user.super_admin? || current_user.admin? %>
          <div class="are-small has-text-right">
            <%= button_to '削除', admin_gift_path(gift), method: :delete, data: { turbo_confirm: '本当にこのギフトを削除しますか？' }, remote: true, form: { data: { turbo: true }, class: 'button is-danger' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
