<div id="content" class="container is-small frame-fixed-height has-background-warning">
  <div class="card">
  <div class="card-content">
    <p class="title">名前: <%= @user.name %></p>
    <!-- 他のユーザー情報もここに追加 -->
  </div>
</div>
</div>