<%= turbo_frame_tag 'worrie' do %>
  <% if @worrie_open %>
    <div>
      <%= render "buttons/menu/worries_hide_button" %>
    </div>
  <% else %>
  <div>
      <%= render "buttons/menu/worries_button" %>
  <% end %>
  </div>
<% end %>