<h2>返信スタイルを選択してください</h2>

<%= form_with url: response_consultation_path(@consultation), method: :get, local: true do %>
  <div>
    <%= label_tag :selected_tone, "スタイル" %>
    <%= select_tag :selected_tone, options_for_select(Reply.tones.keys.map { |tone| [Reply.tones[tone], tone] }) %>
  </div>
  <div>
    <%= submit_tag "選択" %>
  </div>
<% end %>
