<div class="columns is-centered is-mobile">
  <div class="column is-2 mr-6">
    <div id="menu">
      <%= render "buttons/menu/menu_buttons" %>
    </div>
  </div>
  <div class="column is-flex is-align-items-start">
    <section class="section is-fullheight">
      <div class="container is-flex is-flex-direction-column">
        <div id="content" >
        <%= render 'buttons/menu/consultations_detail', consultation: @consultation %>
        </div>
      </div>
    </section>
  </div>
</div>