<div data-controller="visibility" data-visibility-target="bg" class="bg">
  <div class="circle"></div> <!-- 赤い丸を追加 -->
  <div class="cloud-mini cloud1"></div>
  <div class="cloud-mini cloud2"></div>
  <div class="cloud-mini cloud3"></div>
  <div class="cloud-mini cloud4"></div>
  <div class="cloud-mini cloud5"></div>
  <div class="cloud-mini cloud6"></div>

  <section class="section is-fullheight">
    <div class="container is-flex is-flex-direction-column is-justify-content-space-between">
      <div class="content">
        <div class="columns is-centered">
          <div class="column has-text-centered">
              <div class="anime-title">
              <span>ようこそ！！</span>
              <span>めぐる宝石花</span>
              </div>
            <div class="mb-8">
            <%= render 'tops/title' %>
            </div>
            <div class="flowers-container">
              <div class="flower">
                <div class="diamond-shape petal1"></div>
                <div class="diamond-shape petal2"></div>
                <div class="diamond-shape petal3"></div>
                <div class="diamond-shape petal4"></div>
                <div class="diamond-shape petal5"></div>
                <div class="diamond-shape petal6"></div>
              </div>
            </div>
            <p class="title"><br>相談するだけで終わらない。新しいつながりと感謝の循環<br>
            <br>相談する人も、受ける人もお互いに助け合い、感謝の気持ちを花や宝石で分かち合う。<br>気持ちよく相談できる環境をあなたに。</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>