<div id="chat_<%= chat.id %>" class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="has-text-black">
          <strong><%= chat.sender.display_name.force_encoding('UTF-8') %>:</strong>
          <br>
          <%= chat.decrypted_message.force_encoding('UTF-8') %>
        </p>
      </div>
    </div>
    <% if show_delete_button %>
      <div class="group-buttons media-right">
        <%= button_to '削除', chat_path(chat), 
        method: :delete, 
        data: { action: "click->chat#deleteMessage", chat_id: chat.id }, 
        remote: true, 
        class: 'button is-small is-danger' %>
      </div>
    <% end %>
  </article>
</div>
