// application.sass.scss
@import "bulma/bulma";
@import "icon";
@import "base";
@import "layout";
@import "buttons";
@import "header";
@import "info";
@import "show";
@import "responsive";
@import "consultations";
@import "show_buttons";
@import "x";