.buttons {
  display: flex;
  flex-direction: column;

  .button {
    flex-grow: 1;
    text-align: center;
    width: 150px; // デフォルトの幅

    @media (max-width: 480px) {
      width: 120px; // スマホ用の幅
    }
  }

  .button-wrap-text {
    @media (max-width: 480px) {
      white-space: normal;
      flex-wrap: wrap;
    }
  }
}

.buttons-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // ボタンを左寄せにする

  .button {
    flex-grow: 1;
    text-align: center;
    width: 150px; // デフォルトの幅

    @media (max-width: 480px) {
      width: 80px; // スマホ用の幅
      min-height: 60px; // ボタンの最小高さを設定
    }
  }

  .button-wrap-text {
    @media (max-width: 480px) {
      white-space: normal;
      flex-wrap: wrap;
    }
  }
}