.buttons {
  display: flex;
  flex-direction: column;

  .button {
    flex-grow: 1;
    text-align: center;
    width: 150px; // あなたが望む幅に調整してください
  }
}

.buttons-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // ボタンを左寄せにする

  .button {
    flex-grow: 1;
    text-align: center;
    width: 150px; // あなたが望む幅に調整してください
  }
}