.chat-fixed-height {
  background-color: hsl(174, 80%, 92%); /* 枠の背景色を設定 */
  height: 650px;  /* デフォルトの高さ */
  width: 900px;   /* デフォルトの幅 */
  overflow: hidden; /* 全体のスクロールを非表示にする */
  overflow-x: hidden; /* 横方向のスクロールバーを非表示 */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* 軽いシャドウを追加 */

  @media (max-width: 480px) {
    height: 500px; /* スマホ用の高さ */
    width: 250px; /* スマホ用の幅 */
    margin-left: 10px; /* 左側の余白 */
    margin-right: 10px; /* 右側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }

  @media (max-width: 411px) {
    height: 450px; /* スマホ用の高さ */
    width: 210px; /* スマホ用の幅 */
    margin-left: 10px; /* 左側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }
}

.group-chat-fixed-height {
  background-color: hsl(174, 80%, 92%); /* 枠の背景色を設定 */
  height: 650px;  /* デフォルトの高さ */
  width: 900px;   /* デフォルトの幅 */
  overflow: hidden; /* 全体のスクロールを非表示にする */
  overflow-x: hidden; /* 横方向のスクロールバーを非表示 */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* 軽いシャドウを追加 */

  @media (max-width: 480px) {
    height: 500px; /* スマホ用の高さ */
    width: 250px; /* スマホ用の幅 */
    margin-left: 10px; /* 左側の余白 */
    margin-right: 10px; /* 右側の余白 */
    padding-left: 20px; /* 内部左側に隙間を追加 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }

  @media (max-width: 411px) {
    height: 450px; /* スマホ用の高さ */
    width: 210px; /* スマホ用の幅 */
    margin-left: 10px; /* 左側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }
}

.chat-height {
  height: 450px; /* 固定高さを設定 */
  overflow-x: hidden; // 横方向のスクロールバーを非表示

  @media (max-width: 480px) {
    height: 250px; /* 固定高さを設定 */
    overflow-x: hidden; // 横方向のスクロールバーを非表示
  }
}

.group-chat-height {
  height: 350px; /* 固定高さを設定 */
  overflow-x: hidden; // 横方向のスクロールバーを非表示

  @media (max-width: 480px) {
    height: 200px; /* 固定高さを設定 */
    overflow-x: hidden; // 横方向のスクロールバーを非表示
    padding-left: 5px; /* 内部左側に隙間を追加 */
  }
}