.consultations-show-fixed-height {
  background-color: hsl(174, 80%, 92%); /* 枠の背景色を設定 */
  height: 650px;  /* デフォルトの高さ */
  width: 900px;   /* デフォルトの幅 */
  overflow-y: auto; // 枠の高さを超えた場合、スクロールバーを表示
  overflow-x: hidden; // 横方向のスクロールバーを非表示
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* 軽いシャドウを追加 */

  @media (max-width: 480px) {
    height: 500px; /* スマホ用の高さ */
    width: 250px; /* スマホ用の幅 */
    margin-left: 10px;  /* 右側の余白 */
    margin-right: 10px;  /* 右側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }

  @media (max-width: 411px) {
    height: 450px; /* スマホ用の高さ */
    width: 210px; /* スマホ用の幅 */
    margin-left: 10px; /* 左側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }
}