.consultation-message {
  height: 50px;  /* デフォルトの高さ */
  width: 900px;   /* デフォルトの幅 */
  overflow: hidden; /* 全体のスクロールを非表示 */
  overflow-x: hidden; // 横方向のスクロールバーを非表示
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* 軽いシャドウを追加 */

  @media (max-width: 480px) {
    height: 20px; /* スマホ用の高さ */
    width: 250px; /* スマホ用の幅 */
    margin-left: 15px;  /* 右側の余白 */
    margin-top: -30px; /* 上側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }
}

.consultations-fixed-height {
  background-color: hsl(174, 80%, 92%); /* 枠の背景色を設定 */
  height: 800px;  /* デフォルトの高さ */
  width: 900px;   /* デフォルトの幅 */
  overflow: hidden; /* 全体のスクロールを非表示 */
  overflow-x: hidden; // 横方向のスクロールバーを非表示
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* 軽いシャドウを追加 */

  @media (max-width: 480px) {
    height: 500px; /* スマホ用の高さ */
    width: 250px; /* スマホ用の幅 */
    margin-left: 10px;  /* 右側の余白 */
    margin-right: 10px;  /* 右側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }

  @media (max-width: 411px) {
    height: 450px; /* スマホ用の高さ */
    width: 210px; /* スマホ用の幅 */
    margin-left: 10px; /* 左側の余白 */
    transform: translateZ(0); /* 高解像度ディスプレイ対策 */
    -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
    backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */
  }
}

.consultation-list {
  height: 160px; /* 固定表示部分の高さ */
  overflow-x: hidden; // 横方向のスクロールバーを非表示
}

.consultation-form {
  height: calc(100% - 160px); /* 固定部分を引いた高さを設定 */
  overflow-x: hidden; // 横方向のスクロールバーを非表示
  overflow: hidden; /* 全体のスクロールを非表示 */
}

@media (max-width: 480px) {
  .consultation-list {
    height: 63px; /* スマホ用の固定表示部分の高さ */
  }

  .consultation-form {
    height: calc(100% - 62px); /* スマホ用の固定部分を引いた高さを設定 */
  }
}

@media (max-width: 411px) {
  .consultation-list {
    height: 200px; /* スマホ用の固定表示部分の高さ */
  }

  .consultation-form {
    height: calc(100% - 200px); /* スマホ用の固定部分を引いた高さを設定 */
  }
}

/* デフォルトのスタイル */
.notification {
  font-size: 1rem; /* デフォルトのフォントサイズ */
}

/* スマホ用のスタイル */
@media (max-width: 480px) {
  .notification {
    font-size: 0.7rem; /* スマホ用のフォントサイズを小さく */
  }
}