header {
  background-color: hsl(176, 70%, 71%);  // ヘッダーの背景色を設定
  padding: 20px 0;  // ヘッダーの上下にパディングを設定

  nav {
    ul {
      display: flex;  // ul要素をフレックスボックスに設定
      justify-content: space-between;  // アイテムを左端と右端に配置
      list-style: none;  // リストスタイルを無効に設定
      padding: 0;  // ul要素のパディングを無効に設定

      li {
        margin: 0 15px;  // 各アイテムの左右に10pxのマージンを設定

        &:first-child {
          margin-right: auto;  // 最初のアイテムを左端に配置
        }

        &:last-child {
          margin-left: auto;  // 最後のアイテムを右端に配置
          margin-top: 15px;  // 最後のアイテムの上部に15pxのマージンを追加

          form {
            display: inline;  // フォームをインライン要素として表示
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 5px 0;  // スマホ用のパディング
    .user-info, .user-actions {
      display: block;
      width: 100%;
    }

    nav {
      ul {
        flex-direction: column;  // スマホ用に縦方向のフレックスボックスに変更
        align-items: center;  // アイテムを中央に配置

        li {
          margin: 5px 0;  // 各アイテムの上下に5pxのマージンを設定

          &:first-child {
            margin-right: 0;  // 最初のアイテムの右マージンをリセット
          }

          &:last-child {
            margin-left: 0;  // 最後のアイテムの左マージンをリセット
            margin-top: 5px;  // 最後のアイテムの上部に5pxのマージンを追加
          }
        }
      }
    }
  }
}