.show-fixed {
  background-color: hsl(174, 42%, 95%); //枠の背景色を設定
  height: 500px;  // デフォルトの高さ
  width: 250px;   // デフォルトの幅
  overflow-y: auto; // 枠の高さを超えた場合、スクロールバーを表示
  overflow-x: hidden; // 横方向のスクロールバーを非表示

  @media (max-width: 480px) {
    height: 300px; // スマホ用の高さ
    width: 150px; // スマホ用の幅
  }
}