.show-fixed {
  background-color: hsl(174, 42%, 95%); //枠の背景色を設定
  height: 400px;  //枠の高さを400pxに固定
  width: 500px;   /* 枠の幅を400pxに固定 */
  overflow-y: auto; //枠の高さを超えた場合、スクロールバーを表示
  overflow-x: hidden; /* 横方向のスクロールバーを非表示 */
}