.fixed-height {
  height: 350px; // デフォルトの高さ

  @media (max-width: 768px) { // タブレットやスマホ用
    height: 350px; // 小さな画面では高さを小さくする
  }

  @media (max-width: 480px) { // スマホ用
    height: 150px; // さらに小さな画面ではさらに高さを小さくする
  }

  overflow-y: auto;
}

.frame-fixed-height {
  background-color: hsl(176, 70%, 71%); //枠の背景色を設定
  height: 600px;  // デフォルトの高さ
  width: 900px;   // デフォルトの幅
  overflow-y: auto; // 枠の高さを超えた場合、スクロールバーを表示
  overflow-x: hidden; // 横方向のスクロールバーを非表示

  @media (max-width: 768px) {
    height: 400px; // タブレット用の高さ
    width: 600px; // タブレット用の幅
  }

  @media (max-width: 380px) {
    height: 450px; // スマホ用の高さ
    width: 200px; // スマホ用の幅
  }
}

.show-buttons-fixed-height {
  background-color: hsl(174, 80%, 92%); //枠の背景色を設定
  height: 100px;  // デフォルトの高さ
  width: 900px;   // デフォルトの幅

  @media (max-width: 768px) {
    width: 600px;  // タブレット用の幅
  }

  @media (max-width: 480px) {
    width: 400px;  // スマホ用の幅
  }

  overflow-y: auto;
  overflow-x: hidden;
}

.show-fixed-height {
  background-color: hsl(174, 80%, 92%); //枠の背景色を設定
  height: 600px;  // デフォルトの高さ
  width: 900px;   // デフォルトの幅

  @media (max-width: 768px) {
    height: 400px; // タブレット用の高さ
    width: 600px;  // タブレット用の幅
  }

  @media (max-width: 480px) {
    height: 300px; // スマホ用の高さ
    width: 400px;  // スマホ用の幅
  }

  overflow-y: auto;
  overflow-x: hidden;
}

.test-fixed-height {
  background-color: hsl(180, 41%, 38%); //枠の背景色を設定
  height: 400px;  // デフォルトの高さ
  width: 600px;   // デフォルトの幅

  @media (max-width: 768px) {
    height: 300px; // タブレット用の高さ
    width: 400px;  // タブレット用の幅
  }

  @media (max-width: 480px) {
    height: 200px; // スマホ用の高さ
    width: 300px;  // スマホ用の幅
  }

  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
}

.content {
  margin-bottom: 2em;
}

.footer {
  background-color: hsl(174, 80%, 92%);
  margin-top: auto;
}

.ml-12 {
  margin-left: 12.2rem;
}
