.fixed-height {
  height: 350px; // デフォルトの高さ

  @media (max-width: 480px) { // スマホ用
    height: 150px; // さらに小さな画面ではさらに高さを小さくする
  }

  overflow-y: auto;
}

.frame-fixed-height {
  background-color: hsl(174, 80%, 92%); //枠の背景色を設定
  height: 600px;  // デフォルトの高さ
  width: 900px;   // デフォルトの幅
  overflow-y: auto; // 枠の高さを超えた場合、スクロールバーを表示
  overflow-x: hidden; // 横方向のスクロールバーを非表示
  border-radius: 10px; /* 角を丸くする */
  transform: translateZ(0); /* 高解像度ディスプレイ対策 */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* 軽いシャドウを追加 */
  -webkit-backface-visibility: hidden; /* Webkitブラウザ用のアンチエイリアス対策 */
  backface-visibility: hidden; /* その他ブラウザ用のアンチエイリアス対策 */

  @media (max-width: 480px) {
    height: 500px; // スマホ用の高さ
    width: 250px; // スマホ用の幅
  }
}

.show-buttons-fixed-height {
  background-color: hsl(174, 80%, 92%); //枠の背景色を設定
  height: 100px;  // デフォルトの高さ
  width: 900px;   // デフォルトの幅

  @media (max-width: 480px) {
    width: 400px;  // スマホ用の幅
  }

  overflow-y: auto;
  overflow-x: hidden;
}

.show-fixed-height {
  background-color: hsl(174, 80%, 92%); //枠の背景色を設定
  height: 600px;  // デフォルトの高さ
  width: 900px;   // デフォルトの幅

  @media (max-width: 480px) {
    height: 300px; // スマホ用の高さ
    width: 400px;  // スマホ用の幅
  }

  overflow-y: auto;
  overflow-x: hidden;
}

.test-fixed-height {
  background-color: hsl(180, 41%, 38%); //枠の背景色を設定
  height: 400px;  // デフォルトの高さ
  width: 600px;   // デフォルトの幅

  @media (max-width: 480px) {
    height: 200px; // スマホ用の高さ
    width: 300px;  // スマホ用の幅
  }

  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
}

.content {
  margin-bottom: 2em;
}

.footer {
  background-color: hsl(174, 80%, 92%);
  margin-top: auto;
}

.ml-12 {
  margin-left: 12.2rem;
}