.custom-title {
  font-size: 3rem; /* is-1に相当する大きなフォントサイズ */
  color: #000; /* has-text-blackに相当する黒色 */
  font-weight: bold; /* タイトル用に太字を設定 */
  margin-top: -80px; /* タイトル上の余白を減らす */

  @media (max-width: 480px) {
    font-size: 2rem; /* スマホ用にフォントサイズを少し小さく */
    margin-bottom: 0px !important;
  }

  @media (max-width: 411px) {
    font-size: 1.75rem; /* さらに小さい画面用にフォントサイズをさらに小さく */
    margin-bottom: 0.5rem; /* タイトル下の余白をさらに減らす */
  }
}