.tooltip-container {
  position: relative;
  display: inline-block;
}

.custom-tooltip-content {
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.875rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  top: 50%; /* アイコンの中央に揃える */
  left: 100%; /* アイコンの右側に表示 */
  transform: translateY(-50%); /* 垂直方向の中央に揃える */
  margin-left: 5px; /* アイコンとの距離を調整 */
}

.tooltip-container:hover .custom-tooltip-content {
  opacity: 1;
  visibility: visible;
}
