<% if show_header? %>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to root_path, title: 'トップに戻る' do %>
              <%= render 'top/title' %>
            <% end %>
          </li>
          <li><%= link_to 'ログイン', trial_path %></li>
          <!-- 他のリンクを追加 -->
        </ul>
      </nav>
    </header>
<% end %>