<% if unread_gifts_count.present? && unread_gifts_count > 0 %>
  <span id="unread-gifts-count" class="has-unread">
    <span class="icon">
      <i class="fas fa-gift"></i>
    </span>
    ギフトが届きました！！ <%#= unread_gifts_count %>
  </span>
<% else %>
  <span id="unread-gifts-count" class="">
    <span class="icon">
      <i class="fas fa-gift"></i>
    </span>
  </span>
<% end %>
