<% if unread_gifts_count.present? && unread_gifts_count > 0 %>
  <span id="unread-gifts-count" class="has-unread">
    <span class="icon">
      <i class="fas fa-gift"></i>
    </span>
    ギフトが届きました！！ <%#= unread_gifts_count %>
  </span>
<% else %>
  <span id="unread-gifts-count" class="">
    <span class="icon">
      <i class="fas fa-gift"></i>
    </span>
  </span>
<% end %>

<!-- スタイルをここに配置 -->
<style>
  #unread-gifts-count .icon {
    margin-right: 1px;
    color: inherit;
  }

  #unread-gifts-count.has-unread .icon {
    color: #FF0033 !important; /* 色を青に変更 */
    animation: bounce2 1s forwards;
  }

  @keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-40px);
    }
    60% {
      transform: translateY(-20px);
    }
  }
</style>
